.MainCardDiv {
	height: 315px;
	width: 215px;
}
.CardImgDiv {
	width: 100%;
	height: 177px;
}
.CardImgDiv > img {
	border-radius: 5px;
	display: flex;
}
.CardInfoDiv {
	display: flex;
	padding: 14px 0px;
	flex-direction: column;
	align-items: flex-start;
}
.ML {
	margin-left: 0px;
}
.CardInfoDiv > h3 {
	text-align: left;
	color: #1c1c85;
	font-family: Vela Sans;
	font-size: 15px;height: 25px;overflow: hidden;
	font-style: normal;
	font-weight: 600;
	
	line-height: normal;
	margin: 0px 0px 8px 0px;
}
.CardInfoDivPrice {
	margin: 0px 0px 8px 0px;
	color: #212121;
	font-family: Vela Sans;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 190px;

	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2; 
	-webkit-box-orient: vertical;
}
.CardInfoDiv > p:last-child {
	color: #727272;
	font-family: Vela Sans;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 0;
}
.IMG {
	object-fit: cover;
	width: 191px;
	height: 177px;
}
@media (max-width: 1024px) {
	.ML {
		margin-left: 1rem;
	}
}
@media (max-width: 430px) {
	.IMG {
		width: 150px;
		height: 170px;
	}
	.ML {
		margin-left: 1rem;
	}
	.MainCardDiv {
		width: 40vw;
	}
	.CardInfoDivPrice {
		width: 40vw;
	}
}
@media (max-width: 344px) {
	.IMG {
		width: 130px;
		height: 150px;
	}
	.ML {
		margin-left: 1rem;
	}
}
