.MainSearchDiv {
	display: flex;
	align-items: center;
	background-color: #fff;
	border: 1px solid #ccc;
	width: 200px;
	height: 40px;
	border-radius: 5px 20px 20px 5px;
}
.Input {
	border: none;
	margin-right: 0;
	width: 135px;
	height: 32px;
}
.Button {
	width: 60px;
	border: 0px;
	background: none;
	height: 40px;
}
.Img {
	width: 58px;
	height: 46px;
}
.liDiv {
	background-color: #f2f2ff;
	color: #000;
	width: 210px;
}
.liDiv:hover {
	background-color: #5250c5;
	color: #fff;
}
.Input:focus-visible {
	outline: 0px;
}
@media (max-width: 362px) {
	.Input {
		margin-right: -35px;
	}
	.MainSearchDiv {
		width: 183px;
	}
	.searchDropDown{
		left: -210px !important;
	}
}
@media (max-width: 330px) {
	.Input {
		width: 123px;
		margin-right: 3px;
	}
	.MainSearchDiv {
		width: 188px;margin-right: 0;
	}
}
