
.MainDivFirstPopUp {
	width: 50vw;
	max-width: 890px;
	height: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border: 1.5px solid #5250C5;
	box-shadow: 0px 4px 7px 0px rgba(99, 99, 151, 0.15);
}
.Continue {
	width: 270px;
	height: 51px;
	border-color: #5250C5;
	border-radius: 5px;
	background: #5250C5;
	box-shadow: 0px 4px 7px 0px rgba(99, 99, 151, 0.15);
	color: #fff;
	margin-bottom: 1.5rem;
	font-size: 18px;
}
.innerDiv {
	width: 70%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}
.PText {
	margin-bottom: 38px;
	color: #2b2b2b;
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.H2text {
	font-size: 25px;
	font-weight: 600;
	height: 20px;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 38px;
}
.InputEmail {
	width: 95%;
	height: 62px;
	border-radius: 5px;
	border: 1px solid var(--unnamed, #9090D8);
	background: #F2F2FF;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
	font-size: 18px;
	padding-left: 10px;
	margin-bottom: 1rem;
}
/* убрал счётчик для поля номера в форме регистрации  */
.InputEmail::-webkit-outer-spin-button,
.InputEmail::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
.PasswordInput {
	position: relative;
}
/* добавил стилей на кнопку глаза */
.Eye {
	position: absolute;
	top: 12px;
	right: 12px;
	width: 46px;
	height: 46px;
	background: url('../../../assets/mdi_hide-outline_grey.svg') no-repeat;
	background-size: contain;
	cursor: pointer;
}
.Eye:hover {
	background: url('../../../assets/mdi_hide-outline.svg') no-repeat;
}
.EyeHidden {
	background: url('../../../assets/mdi_hide-outline.svg') no-repeat;
}

.TypeSelect {
	width: 75%;
	height: 62px;
	border-radius: 5px;
	border: 1px solid var(--unnamed, #9090D8);
	background: #F2F2FF;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
	font-size: 18px;
	padding-left: 10px;
}
.label {
	color: #000;
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.selectDiv {
	width: 96%;
	padding-left: 17px;
	margin-bottom: 20px;
	align-items: baseline;
	display: flex;
	justify-content: space-between;
}
.hidePassword{
	position: absolute;
    top: 5.7rem;
    left: 25rem;
}
.passBox{
	width: 95%;
}
.myForm{
	position: relative;
}
.savePasswordBox{
	display: flex;
}
.inputText{
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-left: 1rem;
}
.line{
	width: 70%;
	height: 1px;
	background-color: #5250C5;
}
.checkbox{
	width: 22px;
	height: 22px;
}
.register{
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

}
.colorDefalt{
	font-size: 20px;
	color: #5250C5;
	text-decoration-line: underline;
}
.textSimple{
	color: var(--black, #212121);
	text-align: center;
	font-family: Vela Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.textContainer{
	width: 70%;
	margin-bottom: 2rem;
}
@media (max-width: 1025px) {
	.hidePassword{
		left: 19rem;
	}
	.register{
		font-size: 18px;
	}
	.textSimple{
		font-size: 18px;
	}
	.PText{
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	.TypeSelect{
		margin-right: 1rem;
    	width: 55%;
	}
	.InputEmail{
		width: 90%;
	}
	.label{
		font-size: 18px;
	}
}
@media (max-width: 769px) {
	.innerDiv{
		width: 90%;
	}
	.register{
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	.Continue{
		margin-bottom: 0;
	}
	.hidePassword{
		left: 17.5rem;
		height: 45px;
		width: 45px;
	}
}
@media (max-width:430px) {
	
	.hidePassword{
		left: 15rem;
		width: 40px;
		height: 40px;
		top: 5.9rem;
	}	
	.MainDivFirstPopUp{
		width: 80vw;
	}
	.H2text{
		font-size: 20px;
	}
	.InputEmail{
		font-size: 15px;
	}
	.Continue{
		margin-bottom: 0.5rem;
	}
}
@media (max-width:380px) {
	.hidePassword{
		left: 14rem;
	}
	
}
@media (max-width: 376px) {
	.hidePassword{
		left: 13rem;
	}
	.label{
		text-align: left;
	}
}
@media (max-width:345px) {
	.Continue{
		width: 80%;
	}
	.hidePassword{
		left: 12rem;
	}
	
}
@media (max-width: 320px) {
	.hidePassword{
		left: 11rem;
	}
	
}
