.MenuDiv {
	display: flex;
	flex-wrap: wrap;
	width: 910px;
	margin-top: 18px;
	height: 136px;
	align-items: flex-start;
	gap: 17px;
	margin-bottom: 30px;
}
.MenuDiv > p {
	color: #000;
	text-align: center;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.container {
	display: flex;
	/* padding-left: 25px; */
	margin-left: 25px;
}
.MenuCarier {
	/* width: 159px; */
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 56px;
	flex-shrink: 0;
	border-radius: 8px;
	background-color: #f2f2ff;
	border: 1px solid #9090d8;
	box-shadow: 0px 4px 10px 0px rgba(85, 85, 218, 0.03);
	padding-left: 0.2rem;
}
.MenuBlocks {
	width: 194px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 56px;
	flex-shrink: 0;
	border-radius: 8px;
	background-color: #f2f2ff;
	border: 1px solid #9090d8;
	box-shadow: 0px 4px 10px 0px rgba(85, 85, 218, 0.03);
}
.MenuBuildingMaterials {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 56px;
	flex-shrink: 0;
	border-radius: 8px;
	background-color: #f2f2ff;
	border: 1px solid #9090d8;
	box-shadow: 0px 4px 10px 0px rgba(85, 85, 218, 0.03);
	gap: 5px;
}
.MenuRitualItems {
	width: 209px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 56px;
	flex-shrink: 0;
	border-radius: 8px;
	background-color: #f2f2ff;
	border: 1px solid #9090d8;
	box-shadow: 0px 4px 10px 0px rgba(85, 85, 218, 0.03);
}
.MenuMachines {
	width: 147px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 56px;
	flex-shrink: 0;
	border-radius: 8px;
	background-color: #f2f2ff;
	border: 1px solid #9090d8;
	box-shadow: 0px 4px 10px 0px rgba(85, 85, 218, 0.03);
}
.MenuTools {
	width: 189px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 56px;
	flex-shrink: 0;
	border-radius: 8px;
	background-color: #f2f2ff;
	border: 1px solid #9090d8;
	box-shadow: 0px 4px 10px 0px rgba(85, 85, 218, 0.03);
	overflow: hidden;
}
.MenuToolsMob {
	width: auto;
	overflow: hidden;
}

.MenuSpecialEquipment {
	display: flex;
	gap: 5px;
	justify-content: space-around;
	align-items: center;
	height: 56px;
	flex-shrink: 0;
	border-radius: 8px;
	background-color: #f2f2ff;
	border: 1px solid #9090d8;
	box-shadow: 0px 4px 10px 0px rgba(85, 85, 218, 0.03);
}

.MenuWork {
	/* width: 135px; */
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 56px;
	flex-shrink: 0;
	border-radius: 8px;
	background-color: #f2f2ff;
	border: 1px solid #9090d8;
	box-shadow: 0px 4px 10px 0px rgba(85, 85, 218, 0.03);
}
.MenuServices {
	width: 172px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 56px;
	flex-shrink: 0;
	border-radius: 8px;
	background-color: #f2f2ff;
	border: 1px solid #9090d8;
	box-shadow: 0px 4px 10px 0px rgba(85, 85, 218, 0.03);
}
.MenuImg {
	width: 82px;
	height: 56px;
}
.MenuCarierImg {
	border-radius: 0 5px 5px 0;
	margin-left: 1.1rem;
}
.MenuBlocksImg {
	width: 60px;
	height: 72px;
}
.MenuWorkImg {
	width: 55px;
	border-radius: 0 5px 5px 0;
	margin-left: 0.7rem;
}
.MenuServiceImg {
	width: 90px;
	height: 96px;
}
.MenuRitualsImg {
	width: 35px;
	height: 49px;
}
.MenuMaterialImg {
	width: 90.63px;
	margin-left: 1.6rem;
	height: 67.859px;
}
.MenuStankiImg {
	width: 61px;
	height: 37px;
}
.MenuSpecialImg {
	width: 68px;
	margin-right: -0.1rem;
}
.MenuToolsImg {
	margin-right: -0.2rem;
	height: 57px;
	border-radius: 0 8px 8px 0;
}
.MenuTexts {
	color: #212121;
	font-family: Vela Sans;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	width: 50%;
	margin-left: 0.3rem;
}
.H2SpecialText {
	display: flex;
	margin-bottom: 40px;
	color: #000;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.MenuSpecialText {
	width: 61%;
	margin-left: 0.2rem;
}
.MenuServiceText {
	margin-left: 0.5rem;
}
.RowCardDiv {
	display: flex;
	flex-wrap: wrap;
}
.ColumnCardDiv {
	display: flex;
	flex-direction: column;
}
.MainMenuDiv {
	display: flex;
	flex-wrap: wrap;
	width: 1225px;
	margin-top: 18px;
	height: 136px;
	align-items: flex-start;
	gap: 30px;
	margin-bottom: 7rem;
}
.NavLink {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}
.H2BestPractique {margin-top: 2rem;
	margin-bottom: 2rem;
	width: 202px;
	color: #212121;
	font-family: Vela Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.AdCardsDiv {
	margin-top: 60px;
	width: 271px;
	height: 1400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	border: 2px solid #9090d8;
	background-color: #f2f2ff;
}
.AdCardsDivMob {
	display: none;
	width: 95%;
	height: 100%;
	border-radius: 15px;
	border: 2px solid #9090d8;
	background-color: #f2f2ff;
	padding: 1rem 1rem 1rem 1rem;
	margin-bottom: 2rem;
}
.H2BestPractiqueMob {
	width: 202px;
	color: #212121;
	font-family: Vela Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin-bottom: 2rem;
}
.menuBoxMob {
	display: none;
}
@media (max-width: 1220px) {
	.AdCardsDiv {
		display: none;
	}
	.AdCardsDivMob {
		display: block;
		width: 90%;
	}
}
@media (max-width: 1025px) {
	.AdCardsDiv {
		display: none;
	}
	.AdCardsDivMob {
		display: block;
		width: 90%;
	}
	.MainMenuDiv {
		width: 100%;
	}
}
@media (max-width: 769px) {
	.MenuDiv {
		padding-top: 20px;
		width: 100%;
		flex-wrap: wrap;
		display: flex;
		flex-direction: row;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		scroll-padding: 24px;
		flex-basis: 50%;
	}
	.MainMenuDiv {
		margin-bottom: 4rem;
	}
	.MenuDiv {
		display: none;
	}
	.menuBoxMob {
		display: flex;
		padding-top: 20px;
		width: 100vw;
		flex-wrap: nowrap;
		display: flex;
		flex-direction: column;
		overflow-x: auto;
		overflow-y: hidden;
		scroll-snap-type: x mandatory;
		scroll-padding: 24px;
		gap: 17px;
		flex-basis: 100%;
	}
	.menuBoxMob::-webkit-scrollbar {
		display: none;
	}
	.firstLine {
		display: flex;
		flex-direction: row;
	}
	.secondLine {
		display: flex;
		flex-direction: row;
	}
	.marginRight {
		margin-right: 1rem;
	}
	/* .AdCardsDivMob {
		width: 95vw;
		margin-left: 1rem;
	} */
	.MenuTexts {
		margin-left: 0.6rem;
	}
	.MenuCarierImg {
		border-radius: 0 7px 7px 0;
	}
	.MenuBlocksImg {
		width: 56px;
		height: 62px;
	}
	.MenuStankiImg {
		width: 50px;
		height: 30px;
	}
	.MenuRitualsImg {
		width: 38px;
		height: 52px;
	}
	.MenuSpecialImg {
		width: 60px;
	}
	.MenuToolsImg {
		margin-right: -0.15rem;
		height: 58px;
	}
	.MenuWorkImg {
		margin-right: -0.1rem;
	}
	.MenuServiceImg {
		width: 66px;
		height: 66px;
	}
}
@media (max-width: 430px) {
	.AdCardsDivMob {
		/* width: 84vw; */
		margin-top: 3.5rem;
		/* margin-left: 1rem; */
	}
	.MenuTexts {
		margin-right: 0.9rem;
		font-size: 17px;
	}
	.MenuCarierImg {
		margin-left: 0;
	}
	.MenuSpecialEquipment {
		width: 227px;
	}
	.MenuSpecialImg {
		margin-right: 0.3rem;
	}
	.MenuWorkImg {
		margin-left: -0.2rem;
		margin-right: 0;
	}
	.H2SpecialText {
		/* margin-left: 1rem; */
		font-size: 20px;
	}
	.MenuTools {
		/* width: 230px; */
	}
	.MenuBuildingMaterials {
		width: 271px;
	}
	.MenuMachines {
		width: 172px;
	}
}
