
.MenuDiv {
	display: flex;
	flex-wrap: wrap;
	width: 910px;
	margin-top: 30px;
	height: 136px;
	align-items: flex-start;
	gap: 17px;
	margin-bottom: 50px;
}
.MenuDiv > p {
	color: #000;
	text-align: center;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.container {
	display: flex;
}
.MenuCarier {
	width: 159px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 56px;
	flex-shrink: 0;
	border-radius: 8px;
	background-color: #F2F2FF;
	border: 1px solid #9090d8;
	box-shadow: 0px 4px 10px 0px rgba(85, 85, 218, 0.03);
}
.MenuBlocks {
	width: 194px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 56px;
	flex-shrink: 0;
	border-radius: 8px;
	background-color: #F2F2FF;
	border: 1px solid #9090d8;
	box-shadow: 0px 4px 10px 0px rgba(85, 85, 218, 0.03);
}
.MenuBuildingMaterials {
	width: 209px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 56px;
	flex-shrink: 0;
	border-radius: 8px;
	background-color: #F2F2FF;
	border: 1px solid #9090d8;
	box-shadow: 0px 4px 10px 0px rgba(85, 85, 218, 0.03);
}
.MenuRitualItems {
	width: 209px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 56px;
	flex-shrink: 0;
	border-radius: 8px;
	background-color: #F2F2FF;
	border: 1px solid #9090d8;
	box-shadow: 0px 4px 10px 0px rgba(85, 85, 218, 0.03);
}
.MenuMachines {
	width: 147px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 56px;
	flex-shrink: 0;
	border-radius: 8px;
	background-color: #F2F2FF;
	border: 1px solid #9090d8;
	box-shadow: 0px 4px 10px 0px rgba(85, 85, 218, 0.03);
}
.MenuTools {
	width: 189px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 56px;
	flex-shrink: 0;
	border-radius: 8px;
	background-color: #F2F2FF;
	border: 1px solid #9090d8;
	box-shadow: 0px 4px 10px 0px rgba(85, 85, 218, 0.03);
}
.MenuSpecialEquipment {
	width: 151px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 56px;
	flex-shrink: 0;
	border-radius: 8px;
	background-color: #F2F2FF;
	border: 1px solid #9090d8;
	box-shadow: 0px 4px 10px 0px rgba(85, 85, 218, 0.03);
}
.MenuWork {
	width: 169px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 56px;
	flex-shrink: 0;
	border-radius: 8px;
	background-color: #F2F2FF;
	border: 1px solid #9090d8;
	box-shadow: 0px 4px 10px 0px rgba(85, 85, 218, 0.03);
}
.MenuServices {
	width: 172px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 56px;
	flex-shrink: 0;
	border-radius: 8px;
	background-color: #F2F2FF;
	border: 1px solid #9090d8;
	box-shadow: 0px 4px 10px 0px rgba(85, 85, 218, 0.03);
}
.MenuImg {
	width: 82px;
	height: 56px;
}
.MenuTexts {
	color: #212121;
	font-family: Vela Sans;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	width: 52px;
}
.H2SpecialText {
	display: flex;
	margin-bottom: 40px;
	color: #000;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.RowCardDiv {
	display: flex;
	flex-wrap: wrap;
}
.ColumnCardDiv {
	display: flex;
	flex-direction: column;
}
.MainMenuDiv {
	display: flex;
	flex-wrap: wrap;
	width: 1225px;
	margin-top: 30px;
	height: 136px;
	align-items: flex-start;
	gap: 30px;
	margin-bottom: 50px;
}
.NavLink {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}
.H2BestPractique {
	width: 202px;
	color: #212121;
	font-family: Vela Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.AdCardsDiv {
	width: 271px;
	max-height: 180vh;
	min-height: 135vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 15px;
	border: 2px solid #9090d8;
	background-color: #f2f2ff;
}
.AdCardsDivMob{
	display: none;
	width: 95%;
	height: 100%;
	border-radius: 15px;
	border: 2px solid #9090d8;
	background-color: #f2f2ff;
	padding: 1rem 1rem 1rem 1rem;
	margin-bottom: 2rem;
}
.H2BestPractiqueMob{
	width: 202px;
	color: #212121;
	font-family: Vela Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin-bottom: 2rem;
}
.menuBoxMob{
	display: none;
}
@media (max-width: 1025px) {
	.AdCardsDiv{
		display: none;
	}
	.AdCardsDivMob{
		display: block;
		width: 90%;
	}
	.MainMenuDiv{
		width: 100%;
	}
	
	
}
@media (max-width: 769px) {
	.MenuDiv{
		padding-top: 20px;
		width: 100%;
		flex-wrap: wrap;
		display: flex;
		flex-direction: row;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		scroll-padding: 24px;
		flex-basis: 50%;
	}
	.MenuDiv{
		display: none;
	}
	.menuBoxMob{
		display: flex;
		padding-top: 20px;
		width: 100vw;
		flex-wrap: nowrap;
		display: flex;
		flex-direction: column;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		scroll-padding: 24px;
		gap: 17px;
		flex-basis: 100%;
	}
	.firstLine{
		display: flex;
		flex-direction: row;
	}
	.secondLine{
		display: flex;
		flex-direction: row;
	}
	.marginRight{
		margin-right: 1rem;
	}
	.AdCardsDivMob{
		width: 95vw;
	}
}
@media (max-width: 430px) {
	.menuBoxMob{
	}
	.AdCardsDivMob{
		width: 91vw;
		margin-top: 5.5rem;
	}
}