.mainDiv {
	width: 881px;
	height: 323px;
	display: flex;
	margin-bottom: 35px;
}
.leftDiv {
	width: 316px;
	height: 323px;
}
.leftDiv > img {
	border-radius: 15px;
}

.rightDiv {
	width: 529px;
	height: 323px;
	margin-left: 36px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}
.H2Name {
	color: #1c1c85;
	text-align: left;
	margin-top: 22px;
	margin-bottom: 9px;
	font-family: Vela Sans;
	font-size: 25px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.Price {
	color: #000;
	text-align: center;
	font-family: Vela Sans;
	font-size: 25px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-top: 0;
	margin-bottom: 9px;
}
.Price > span {
	color: #78b453;
}
.AboutHeader {
	color: #000;
	font-family: Vela Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin-top: 0;
	margin-bottom: 3px;
}
.AboutText {
	color: #000;
	font-family: Vela Sans;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 0;
	text-align: left;
	margin-bottom: 5px;
	overflow: hidden;
}
.Organization {
	color: #000;
	font-family: Vela Sans;
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.PhoneNumberDiv {
	width: 171px;
	height: 29px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0;
	margin-bottom: 13px;
	border-radius: 5px;
	background-color: #5250c5;
	flex-shrink: 0;
}
.PhoneNumberDiv > p {
	color: #fff;
	text-align: center;
	font-family: Vela Sans;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.City {
	color: #000;
	font-family: Vela Sans;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	margin-top: 0;
	line-height: normal;
}
.CitySpan {
	color: #000;
	font-family: Vela Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.IMG {
	width: 316px;
	height: 323px;
	object-fit: cover;
}
@media (max-width:769px) {
	.H2Name {
		margin-top: 0;
	}
	.mainDiv{
		width: 100vw;
		margin-bottom: 80px;
	}
	.rightDiv{
		width: 65vw;
	}
	.AboutText {
		max-height: 40px;
	}
	
}
@media (max-width: 430px) {
	.mainDiv{
		flex-direction: column;
		height: 100%;
	}
	.IMG{
		width: 95%;
		height: 30vh;
	}
	.leftDiv{
		display: flex;
		justify-content: center;
		height: 100%;
		width: 100%;
	}
	.rightDiv{
		margin-left: 1rem;
		height: 100%;
	}
	.AboutText {
		max-height:max-content;
	}
}